# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb
*.sln
*.slnx
*.vcxproj
*.user
*.filters
*.decoy
*.enc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Other
*.bat
*.py
*.lua

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# =========================
# Added (per request)
# =========================

# Visual Studio
.vs/
x64/

# Text files
*.txt
